body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 40px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #842a7b;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed span {
    text-decoration: line-through;
    color: gray;
}

.toggle-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    flex: 1;
}

.delete-form {
    margin: 0;
}
